
<div class="m-5 w-96" data-controller="show" data-show-uri-value=<%= @episode.uri %> >
  <div id="embed-iframe" data-show-target="episode"></div>
  <script src="https://open.spotify.com/embed/iframe-api/v1" async></script>

  <%= turbo_stream_from @episode.id %>
  <ul id="-list" role="list" class="space-y-6">
    <div id="comment-list">
    <%= render CommentComponent.with_collection(@comments) %>
    </div>
  </ul>
  <%= render 'comments/form', comment: @comment, episode: @episode.id %>
</div>
